extends base.pug

block content 
    div#videoContainer(data-id=video._id)
        video(src=video.fileUrl)
        span.middle-animation-icon 
            i.fa-solid.fa-circle-play
        div#videoControls.videoControls
            div.videoControls__play
                span#play.videoControls__playBtn
                    i.fas.fa-play 
                div.videoControls__time 
                    span#currentTime 00:00
                    span / 
                    span#totalTime 00:00
            input(type='range',step='1',value='0',min='0')#timeline.videoControls__timeline
            div.videoControls__volume
                input(type='range',step='0.1', value=0.5,min='0',max='1')#volume
                span#mute
                    i.fas.fa-volume-up
            div
                span#fullScreen
                    i.fas.fa-expand
    //- 
        div 
            p=video.description
            small=video.createdAt
        div 
            small Uploaded by 
                a(href=`/users/${video.owner._id}`)=video.owner.name

    div.video__data
        p.video__title=video.title
        small.video__owner 
            div.video__owner-area
                a(href=`/users/${video.owner._id}`)
                    img.video__avatar(src=`${video.owner.avatarUrl}`)
                div.video__owner-content 
                    a(href=`/users/${video.owner._id}`)
                        span.video__owner-content-title=video.owner.name
                    span.video__owner-reader 구독자 ?명
                button.subscribe-btn 구독
            if String(video.owner._id) === String(loggedInUser._id)
                div.menu-icon 
                    i.fa-solid.fa-ellipsis-vertical
                    div.menu-icon__option.hide
                        a(href=`${video.id}/edit`)
                            div.edit Edit
                        a(href='#')
                            div.delete Delete
        div.video__description
            span 조회수 #{video.meta.views}회 
            span.video__createdAt=new Date(video.createdAt).toLocaleDateString("ko-kr", {weekday: 'long', year: 'numeric', month: 'long', day: 'numeric'}) 
            p=video.description  
        div.comment-count 댓글 #{video.comments.length}개     
        if loggedIn 
            div.video__add-comments
                form.video__comment-form#commentForm
                    input#comment-area(placeholder='댓글 추가하기')
                    button Add Comment 
        div.video__comments
            ul 
                each comment in video.comments.reverse()
                    li.video__comment(data-id=comment.id)
                        i.fas.fa-comment
                        span  #{comment.text}
                        if String(comment.owner._id) === String(loggedInUser._id)
                            span  ❌
    //- Modal
    div.delete-modal.hide
        span.modal__title 정말 삭제하시겠습니까?
        div.buttons
            button.button--grey No
            a(href=`${video.id}/delete`)
                button.button--red Yes
 
block scripts
    script(src='/static/js/videoPlayer.js')
    if loggedIn
        script(src='/static/js/commentSection.js')